@import "src/style/style";


article {
  box-shadow: 10px 10px grey;
  display: grid;
  grid-template-columns:
          [full-start] minmax(1em, 1fr)
          [main-start] minmax(0, 68em) [main-end]
          minmax(1em, 1fr) [full-end];
  grid-gap: 1em;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

section {
  grid-column: main;
  border-radius: 0.5rem;
  padding: 2rem;
}

article > * {
  background-color: #eaeaea;
}

.header {
  @extend .edges;
  font-size: 2rem;
}

.footer {
  @extend .edges;
  font-size: 1rem;
}

.card {
  @extend .box-shadow;
  background-color: aqua;
  border-radius: 0.3rem;
}

.underborder {
  border-bottom: 2px solid black;
}