.App {
  text-align: center;
  min-height: 20rem;
  background: #f9f9f9;
}

p {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edges {
  background-color: #28282a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

header {
  @extend .edges;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #28282a;
  font-size: 2rem;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.link {
  color: #61dafb;
}

