@import "../style/style";


.bodycard {
  margin: 6rem 10rem 6rem 10rem;
  background: white;
  padding: 2rem;
}

.shadoweffect {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.shadow-below{
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.mini-title {
  font-weight: bold;
  margin-bottom: 0 !important;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  margin-top: 2rem;
}

.flex-item-1 {
  min-width: 70%;
  flex-grow: 4;
  padding-right: 10rem;
}

.flex-item-2 {
  flex: 0 0 13rem;
  text-align: start;
  padding-right: 1rem;
}

.list-item-align {
  text-align: start;
}

#personal-info {
  margin: 0 0 0.5rem 0;
  color: rgba(0,0,0,.68);
}

#list {
  padding-right: 1rem;
  padding-left: 1rem;
}

#description-text {
  color: rgba(0,0,0,.68);
}

.card{
  @extend .shadow-below;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.educard{
  margin-top: 2rem;
}

.footer {
  @extend .edges;
  font-size: 1rem;
}

.underborder {
  border-bottom: 2px solid black;
}